/* CSS for ModalDetailsCargaInicial component */

.order-header {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.order-info {
    display:flex;
    gap: 20px;
    margin-top: 20px;
}

.info-box {
    flex: 1;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05)
}

    .info-box h3 {
        margin-top: 0;
        color: #0078d7;
    }

.order-detalle {
    color: #0078d7;
    margin-bottom: 10px;
}