/* CSS for ModalDetailsOrdenCompra component */

.order-header[b-q97ni9kwtp] {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.order-info[b-q97ni9kwtp] {
    display:flex;
    gap: 20px;
    margin-top: 20px;
}

.info-box[b-q97ni9kwtp] {
    flex: 1;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05)
}

    .info-box h3[b-q97ni9kwtp] {
        margin-top: 0;
        color: #0078d7;
    }

.status.aprobado[b-q97ni9kwtp] {
    background: #28a745;
    color: white;
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 0.9em;
}

.order-detalle[b-q97ni9kwtp] {
    color: #0078d7;
    margin-bottom: 10px;
}

