<div>
    <p>@message</p>
    <button @onclick="CloseModal" class="btn btn-primary">Close</button>
</div>

@code {
    [Parameter]
    public string? message { get; set; }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task CloseModal() => await BlazoredModal.CloseAsync();
}
