@inject IInventoryServices service

<Modal @ref="innerModal" 
       title="Crear Documento"
       OnShowing="OnModalShowing"
       OnShown="OnModalShown"
       OnHiding="OnModalHiding"
       OnHidden="OnModalHidden"
       OnHidePrevented="OnModalHidePrevented" Size="ModalSize.ExtraLarge">

    <BodyTemplate>
        <div>
            <Callout Heading="Importante" Color="CalloutColor.Danger">
                <strong>Crear documento de inventario fisico</strong>. Esta pantalla le permite crear un nuevo documento de inventario fisico
                en su almacen para ajustarlo a su sistema posteriormente.
            </Callout>
        </div>
        <div class="row g-3">
            <div class="col-3">
                <div class="mb-3">
                    <label for="txt_ordenNumber"><strong>Numero Documento:</strong></label>
                    <input type="text" class="form-control" id="txt_ordenNumber" placeholder="documento de inventario"
                        @bind="orden.OrderNumberID" />
                    <label for="txt_fechaOrden"><strong>Fecha:</strong></label>
                    <input type="date" class="form-control" id="txt_fechaOrden" placeholder="fecha de creación" 
                        @bind="orden.Order_Date" />
                    <label for="txt_personRegister" ><strong>Persona Administrador:</strong> </label>
                    <input type="text" class="form-control" id="txt_personRegister" placeholder="administrador del inventario"
                        @bind="orden.Person_Create"/>
                    <label for="txt_description"><strong>Descripcion:</strong></label>
                    <input type="text" class="form-control" id="txt_description" placeholder="descripcion del inventario" 
                        @bind="orden.Description_Document" />
                </div>
            </div>

            <div class="col-3">
                <div class="mb-3">
                    <label for="txt_equipos"><strong>Equipos de Conteo :</strong></label>
                    <input type="number" class="form-control" id="txt_equipos" placeholder="numero de equipos..."  />
                    <label for="txt_category" class="form-label"><strong>Categoria:</strong></label>

                    <select id="txt_category" name="txt_categhory" class="form-control">
                        <option value="">Seleccione una categoria...</option>
                        <option value="es">Todos</option>
                        <option value="do">Master</option>
                        <option value="us">Rollo Cortado</option>
                        <option value="es">Graphics</option>
                        <option value="es">Hojas</option>
                        <option value="es">Seleccion</option>
                    </select>
                    <label for="txt_location"><strong>Nombre Almacen:</strong></label>
                    <input type="text" class="form-control" id="txt_location" placeholder="definir los almacenes" 
                        @bind="orden.Area_Almacen" />
                    <label for="txt_personDetails"><strong>Integrantes:</strong></label>
                    <input type="text" class="form-control" id="txt_personDetails" placeholder="integrantes de los grupos de conteo" />
                </div>
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center">
                <img src="images\escanner-inventario.webp" width="250" height="250" />
            </div>
        </div>
        <div>
            <div><input type="checkbox" name="name" value="" /> Manejo de Sucursales.</div>
            <div> <input type="checkbox" name="name" value="" /> Inventario Materia Prima.</div>
            <div><input type="checkbox" name="name" value="" /> Inventario Rollo Cortado.</div>
            <div><input type="checkbox" name="name" value="" /> Inventario Graphics.</div>
            <div><input type="checkbox" name="name" value="" /> Inventario Hojas.</div>
        </div>
       

    </BodyTemplate>


    <FooterTemplate>
        <div style="margin-bottom:20px; margin-top:20px;">
            <Button Color="ButtonColor.Primary" @onclick="SaveDocument"><Icon Name="IconName.Floppy" /> Guardar</Button>
            <Button Color="ButtonColor.Secondary" @onclick="CancelDocument"><Icon Name="IconName.XCircle" /> Close</Button>
        </div>
    </FooterTemplate>

</Modal>




   
<h3>TestComponentModal</h3>

@code {
    private Modal? innerModal;
    private OrderFisicoHeader orden = new OrderFisicoHeader();

    public Task ShowAsync()
    {
        // Si la versión de la librería expone ShowAsync
        if (innerModal != null)
            return innerModal.ShowAsync();

        return Task.CompletedTask;
    }

    private async Task SaveDocument()
    {
        var created = await service.CreateOrders(orden);
        await innerModal!.HideAsync();

    }

    private async Task OnShowModalClick()
    {

    }

    private async Task OnModalShowing()
    {

    }
    private async Task OnModalShown()
    {

    }
    private async Task OnModalHiding()
    {

    }
    private async Task OnModalHidden()
    {

    }
    private async Task OnModalHidePrevented()
    {

    }



    private async Task CancelDocument()
    {
        
    }
}
